# Development settings
SECRET_KEY = ''
DEBUG = True

# Database
# options: sqlite, postgres
DATABASES = 'sqlite'

POSTGRES_HOST = 'localhost'
POSTGRES_PORT = 5432
POSTGRES_DATABASE = 'example'
POSTGRES_USER = 'root'
POSTGRES_PASS = 'toor'

# Internationalization
LANGUAGE_CODE = 'en-us'
TIME_ZONE = 'Asia/Jakarta'

