{% extends "base.html" %}

{% load static %}

{% block title %}Halaman utama{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block content %}
<h2 class="my-4">Selamat datang,{% if user.is_authenticated%} {{ user.get_username}}{% endif %}</h2>
<div class="card my-4 table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Mata pelajaran</th>
        <th scope="col">Waktu mulai</th>
        <th scope="col">Waktu akhir</th>
        <th scope="col">Aksi</th>
      </tr>
    </thead>
    <tbody>
    {% for exam in exams %}
      <tr>
        <th scope="row">{{ exam.id }}</th>
        <td>{{ exam.course }}</td>
        <td>{{ exam.start_date}}</td>
        <td>{{ exam.end_date}}</td>
        <td><button type="button" onclick="window.location.href='{% url 'confirm-exam' exam.id %}'" class="btn btn-primary">kerjakan</button></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div aria-label="...">
    <ul class="pagination justify-content-center">
      {% if exams.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{exams.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}
      <li class="page-item active"><a class="page-link" href="">{{exams.number}}</a></li>
      {% if exams.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{exams.next_page_number}}">Next</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}