{% load static %}
{% load static tailwind_tags %}
{% tailwind_css%}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock%}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
        body { font-family: 'Inter', sans-serif; }
    </style>
</head>
<body class="bg-gray-50 text-gray-800">

    {% block navbar %}{% endblock%} 

    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        {% block content%} {% endblock %}
    </main>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
